<div (click)="navigate('product-details/' + product.brand)" class="productCard w-[17rem] m-3 transition-all cursor-pointer">
  <div class="h-[20rem]">
    <img class="h-full w-full"
      [src]="product.imageUrl" alt="">
  </div>
  <div class="textPart p-3 bg-gray-500 rounded-b-md justify-items-center h-[9rem]">
    <div>
      <p class="opacity-80 text-center">{{product.brand}}</p>
      <p class="h-[2rem] text-center">{{product.title}}</p>
<!--      <p class="text-center">{{product.color}}</p>-->
    </div>
    <div class="flex flex-wrap space-x-2 items-center justify-between">
      <p class="text-red-800 line-through">{{product.price}}$</p>
      <p class="font-bold">{{product.discountedPrice}}$</p>
      <p class="text-green-500">{{calculatePercentage(product.price, product.discountedPrice)}}%</p>
    </div>

  </div>

</div>
