<p class="flex justify-center text-2xl pt-20">ADD NEW PRODUCT</p>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-12 px-5 lg:px-20">
  <div class="col-span-1 lg:col-span-12">
    <div class="rounded-md p-3  h-dvh ">
      <form [formGroup]="productForm" (ngSubmit)="editProduct()">
        <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Image URL</mat-label>
              <input matInput [(ngModel)]="product.imageUrl" formControlName="imageUrl" placeholder="Image URL" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Brand </mat-label>
              <input matInput [(ngModel)]="product.brand" formControlName="brand" placeholder="Brand" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Title</mat-label>
              <textarea matInput [(ngModel)]="product.title" formControlName="title" placeholder="Title"
                        autocomplete="given-name" type="text" rows="1"></textarea>
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Color</mat-label>
              <input matInput [(ngModel)]="product.color" formControlName="color" placeholder="Color" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Top Level Category</mat-label>
              <select matNativeControl [(ngModel)]="product.category.parentCategory.parentCategory.name" formControlName="topLevelCategory" placeholder="Top Level Category">
                <option value="Men">Men</option>
                <option value="Women">Women</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Second Level Category</mat-label>
              <select matNativeControl [(ngModel)]="product.category.parentCategory.name" formControlName="secondLevelCategory" placeholder="Second Level Category">
                <option value="Clothing">Clothing</option>
                <option value="Shoes">Shoes</option>
                <option value="Accessories">Accessories</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Third Level Category</mat-label>
              <select matNativeControl [(ngModel)]="product.category.name" formControlName="thirdLevelCategory" placeholder="Third Level Category">
                <option value="Shirt">Shirt</option>
                <option value="Jeans">Jeans</option>
                <option value="Sweaters">Sweaters</option>
                <option value="Jackets">Jackets</option>
                <option value="Sportwear">Sportswear</option>
                <option value="Watches">Watches</option>
                <option value="Wallets">Wallets</option>
                <option value="Bags">Bags</option>
                <option value="Sunglasses">Sunglasses</option>
                <option value="Hats">Hats</option>
                <option value="Belts">Belts</option>
                <option value="Classic Shoes">Classic Shoes</option>
                <option value="Sport Shoes">Sport Shoes</option>
                <option value="Summer Shoes">Summer Shoes</option>
                <option value="Winter Shoes">Winter Shoes</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Description</mat-label>
              <input matInput [(ngModel)]="product.description" formControlName="description" placeholder="Description" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Price</mat-label>
              <input matInput [(ngModel)]="product.price" formControlName="price" placeholder="Price" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Discounted Price</mat-label>
              <input matInput [(ngModel)]="product.discountedPrice" formControlName="discountedPrice" placeholder="Discounted Price" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Discounted Percentage</mat-label>
              <input matInput [(ngModel)]="product.discountPercent" formControlName="discountPercent" placeholder="Discounted Percentage" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>
          <div class="col-span-2 justify-items-center">
            <p>SIZES</p>
            <ng-container formArrayName="sizes">
              <ng-container *ngFor="let sizeForm of sizes.controls; let i=index">
                <div [formGroup]="sizeForm">
                  <mat-form-field appearance="fill" class="pr-3">

                    <div *ngIf="product.category.parentCategory.name=='Shoes'; else clothing">
                      <div>
                        <select matNativeControl required formControlName="name" >
                          <option *ngFor="let shoesSize of shoesSizes" value='{{shoesSize}}' >{{shoesSize}}</option>
                        </select>
                      </div>
                    </div>
                    <ng-template #clothing>
                      <div>
                        <select matNativeControl  required formControlName="name" >
                          <option *ngFor="let clothingSize of clothingSizes" value='{{clothingSize}}' >{{clothingSize}}</option>
                        </select>
                      </div>
                    </ng-template>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <input matInput  formControlName="quantity" placeholder="Quantity">
                  </mat-form-field>
                  <mat-icon (click)="deleteSize(i)">delete_forever</mat-icon>
                </div>
              </ng-container>
              <button mat-mini-fab (click)="addSize()">
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="col-span-2">
            <button mat-raised-button class="w-full" style="padding: 1.6rem" color="accent" type="submit">Edit product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


