<div class="box">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full">
        <img alt="" class="w-[5rem] h-[5rem] object-cover object-top"
             src="https://tailwindui.com/img/ecommerce-images/product-page-04-detail-product-shot-01.jpg"/>
        <div class="ml-5">
          <p class="font-semibold text-lg">Product Title</p>
          <p class="text-gray-400 text-sm">Size: M</p>
          <p class="text-gray-400 text-sm">Color: Blue</p>
        </div>
      </div>
    </div>
    <div class="col-span-1 mt-10">
      <p class="font-semibold text-lg">499$</p>
    </div>
    <div class="col-span-2 mt-4">
      <p class="text-lg">Expected delivery On Mar 3</p>
      <p class="text-sm">Your item has been delivered</p>
    </div>
  </div>
</div>
