<div class="w-full">
  <div class="bg-white w-full h-1/2 shadow-lg pt-5">
    <div class="flex justify-around">
      <div class="flex flex-col" *ngFor="let category of categories[selectedSection].sections">
        <h1 class="text-center text-black pt-6">{{category.name}}</h1>
        <button (click)="navigate('/' + selectedSection + '/' + category.id + '/' + subCategory.id)"
                mat-button *ngFor="let subCategory of category.items"
                class="text-black ">{{subCategory.name}}</button>
      </div>
      <div class="hidden lg:block" *ngFor="let feature of categories[selectedSection].featured">
        <div class="mb-5 mt-4">
          <img [src]="feature.imageSrc" [alt]="feature.imageAlt"
               class="w-80 h-80 object-cover object-top rounded-md">
        </div>
        <p class="text-black">{{ feature.name }}</p>
      </div>
    </div>
  </div>
</div>
