<div class="container">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:col-span-2">
      <div class="w-[3rem] h-[3rem]">
        <img class="w-full h-full rounded-full"
          src="https://images.freeimages.com/images/large-previews/ab3/puppy-2-1404644.jpg?fmt=webp&w=500" alt="">
      </div>
    </div>

    <div class="col-span-6 lg:col-span-9">
      <div class="space-y-2">
         <div>
           <p class="font-semibold text-lg">User2323</p>
           <p class="opacity-80">Aug 26, 2023</p>
         </div>
        <div>
          <app-star-rating></app-star-rating>
        </div>
        <p>nice product</p>
      </div>
    </div>
  </div>

</div>
