<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="w-full">
    <h1>Shop E-commerce</h1>
    <div>
      <mat-form-field class="w-full">
        <mat-label>E-mail</mat-label>
        <input matInput class="w-full" formControlName="email" type="email" placeholder="E-mail" required email>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">E-mail is required</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Enter a valid e-mail</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})" class="w-full" matInput formControlName="password" type="text" placeholder="Password" required minlength="8">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Password should be at least 8 characters long</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('pattern')">Password should have minimum one small letter, big letter, number and special character</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button class="w-full" style="padding: 1.7rem" color="accent">
        LOGIN
        </button>
      </div>

      <div>
        <span>If you don`t have account?</span>
        <button mat-button color="accent" (click)="changeTemplate()">
          REGISTER
        </button>
      </div>
    </div>
  </form>
</div>
