<div>
  <div>
    <app-main-carousel></app-main-carousel>
  </div>
  <div>
    <app-product-slider title="Men's Jeans" [products]="menJeans"></app-product-slider>
    <app-product-slider title="Women's Gouns" [products]="womenGouns"></app-product-slider>
    <app-product-slider title="Women's Dress" [products]="womenDress"></app-product-slider>
    <app-product-slider title="Men's Kurta" [products]="menKurta"></app-product-slider>
    <app-product-slider title="Men's Shoes" [products]="mensShoes"></app-product-slider>
  </div>
</div>
